on: push
name: Test
jobs:
  testWithTox:
    name: Test with tox
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - run: pip install tox tox-gh-actions
    - run: tox
    - uses: codecov/codecov-action@v3